<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="alert alert-info" style="display: block">
            <strong>Archivo csv leído exitosamente. </strong> (<%=summary["nuevos"].length%>) inscripciones nuevas, (<%=summary["repetidos"].length%>) inscripciones repetidas
            y (<%=summary["errores"].length%>) inscripciones con error.
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#nuevos">Nuevas</a></li>
        <li><a data-toggle="tab" href="#repetidos">Repetidas</a></li>
        <li><a data-toggle="tab" href="#errores">Errores</a></li>
    </ul>
  
    <div class="tab-content">
        <div id="nuevos" class="tab-pane fade in active">
            <center><h3>Nuevas inscripciones</h3></center>
            <div class="table-responsive col-md-12">
                <table class="table table-striped">
                    <thead class="table_head_custom">
                    <tr>
                        <th style="width:25%; text-align:center">Matrícula</th>
                        <th style="width:25%; text-align:center">Alumno</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%summary["nuevos"].each do |grupo_nuevo|%>
                            <tr>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="repetidos" class="tab-pane fade">
            <center><h3>Inscripciones ignoradas (repetidas)</h3></center>
            <div class="table-responsive col-md-12">
                <table class="table table-striped">
                    <thead class="table_head_custom">
                    <tr>
                        <th style="width:25%; text-align:center">Matrícula</th>
                        <th style="width:25%; text-align:center">Alumno</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%summary["repetidos"].each do |grupo_repetidos|%>
                            <tr>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="errores" class="tab-pane fade">
            <center><h3>Inscripciones con error</h3></center>
            <center><h5>Verificar error en el formato</h5></center>
            <div class="table-responsive col-md-12">
                <table class="table table-striped">
                    <thead class="table_head_custom">
                    <tr>
                        <th style="width:25%; text-align:center">Matrícula</th>
                        <th style="width:25%; text-align:center">Alumno</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%summary["errores"].each do |grupo_error|%>
                            <tr>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>