<%= render 'topsidebar/navsidebar' %>

<div class="mainContainer col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main txtCenter">
	<H1>A meterle <span style="color: red">CORAZON<span></H1>
	<img class = "mainContainer" src="http://14defebrero.org/wp-content/uploads/pictures/corazon-e1423157833541.jpg">

	
</div>