<%= render 'topsidebar/navsidebar' %>
<div class=" introFraseTotal col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
<div class="row introFrase">
	<p>Estimado Usuario,</p>
</div>

<div class="row introFrase">
	<p>El Sistema de Seguimiento a Indicadores de Calidad Académica (SSICA) está diseñado como una interfase hacia la plataforma BB.</p>
</div>

<div class="row introFrase">
	La intención de este Sistema es permitir que tu función como coordinador de materia o de tutores sea más sencilla y puedas atender y dar seguimiento al desempeño de los indicadores de calidad académica tanto de los tutores de SSC, como de los alumnos de Prepanet sin necesidad de entrar a cada uno de los grupos generados en Blackboard.
</div>
<br>
<div class="row introFrase">
	<p>Estamos seguros de que su uso te será de mucha utilidad para mantener los niveles de excelencia académica que hemos logrado establecer en Prepanet.</p>
</div>

<div class="row introFrase">
	<p>Quedamos a tu disposicion para cualquier duda, comentario o aclaracion.</p>
</div>



</div>