<%= render 'topsidebar/navsidebar' %>
<div class="mainContainer col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main txtCenter">
Estimado Usuario,

El Sistema de Seguimiento a Indicadores de Calidad Académica (SSICA) está diseñado como una interfase hacia la plataforma BB.

La intención de este Sistema es permitir que tu función como coordinador de materia o de tutores sea más sencilla y puedas atender y dar seguimiento al desempeño de los indicadores de calidad académica tanto de los tutores de SSC, como de los alumnos de Prepanet sin necesidad de entrar a cada uno de los grupos generados en Blackboard.

Estamos seguros de que su uso te será de mucha utilidad para mantener los niveles de excelencia académica que hemos logrado establecer en Prepanet.
</div>