<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Nuevos</h2>
    <%summary["nuevos"].each do |grupo_nuevo|%>
        <%=grupo_nuevo%>
    <%end%>
    <h2>Editados</h2>
    <%summary["editados"].each do |grupo_editado|%>
        <%=grupo_editado%>
    <%end%>
</div>