<%= render 'topsidebar/navsidebar' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel-heading">
      <h1 class="page-header">Reportes Semanales</h1>
    </div>
    
    <% get_tutores_encargados.each do |tutor| %>
      <%= render 'tarjetas', tutor: tutor, periodo: get_periodo_activo().id%>
    <% end %>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to "+", new_reporte_semanal_path, class: 'btn btn_circular', :id => "btnSubmitTarjetas"%>
      </div>
    </div>
  </div>
</div>