<%= render 'topsidebar/navsidebar' %>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="table-cursos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center><h3>Reportes Semanales</h3></center>
        </div>

        <div class="table-resposive">
          <table class="table table-striped txtCenter">
            <thead>
              <tr>
                <th class="txtCenter">Semana</th>
                <th class="txtCenter">Calificación</th>
              </tr>
            </thead>
            <tbody>
                <% @reporte_semanals.each do |reporte_semanal| %>
                <tr class='pickHover reporte_row' data-link='reporte_semanals/<%=reporte_semanal.id%>'>
                  <td><%=reporte_semanal.semana%></td>
                  <td><%= reporte_semanal.calificacion_total%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

