<%= render 'topsidebar/navsidebar' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel-heading">
      <h1 class="page-header">Reportes Semanales</h1>
      <%= select_tag "semanal_periodo", options_from_collection_for_select(get_periodos(), :id, :descripcion), class: "selectpicker periodo_select"%>
    </div>
    
    <div id="periodo_content">
      <%= render 'reportes_periodo', periodo: get_periodo_activo().id%>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to "+", new_reporte_semanal_path, class: 'btn btn_circular', :id => "btnSubmitTarjetas"%>
      </div>
    </div>
  </div>
</div>