<%= render 'topsidebar/navsidebar' %>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="table-cursos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center><h3>Reportes Semanales</h3></center>
        </div>

        <div class="table-resposive">
          <table class="table table-striped txtCenter">
            <thead>
              <tr>
                <th class="txtCenter">Tutor</th>
                <th class="txtCenter">Número de reportes</th>
              </tr>
            </thead>
            <tbody>
              <%= get_reportes_colapsados %>
            </tbody>
          </table>
        </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= link_to "Crear Reporte", new_reporte_semanal_path, class: 'btn btn-primary btn-lg', :id => "btnSubmit"%>
        </div>
      </div>
    </div>
  </div>
</div>

