@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/** Hider **/
@media (max-width: 580px) {
  
  #nombreUsuario{
    display: none;
  }
}

@media (max-width: 500px) {
  
  #fecha{
    display: none;
  }
}

@media (max-width: 408px) {
  
  #notificaciones{
    display: none;
  }
}





.textPad{

  margin-top: 12px;
}
.iconPad{
  margin-top: -6px;
}

.leftLi {
    float: left;
    margin-left: 20px;
    padding-bottom: -10px;
    
}

.leftLi2 {
    float: right;
    margin-left: 20px;
    list-style-type: none;
    text-align: right;
    color: white !important;
}


.hide{
  display: none;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}


@media screen and (max-width: 767px) {
    #hideSmall{
    display: none;
  }
  #navbarColl{
    background-color: #4183D7;
    
  }
  .backAzul{
    text-align: center;
    color: white;
  }
  .backAzul:hover{
    
    background-color: #428bca !important;
    color: black;
  }
  .navbar{
    border-bottom: solid 1px black;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
#logoPrepa{
  width:150px;
  height:auto;
  margin-top: .8%;
}

.navbar-inverse{
  background-color: #4183D7;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
}
.navbar-inverse .navbar-brand{
  color: white;
}
.logo-brand{
  width: 15%;
}
.navbar-right > li > a{
  font-size: 1.2em;
  width: 100%;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #4183D7;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
}

#cerrar_sesion:hover,
#notificaciones:hover {
  cursor: pointer;
}

#notificaciones:focus, #notificaciones:active:focus, #notificaciones.active:focus{
  outline-color: transparent;
  outline-style: none;
}

.popover {
  width: 600px;
  top: 85% !important;
  //left: 74% !important;
}

.arrow {
  //left: 90% !important;
}

.popover-title {
  background-color: white;
}

.popover-content {
  padding: 0px 0px
}

#notif-table {
  overflow-y: scroll;
  max-height: 380px;
  display: block;
}

.notificacion_row, .empty_notif {
  border-bottom: 1pt solid lightgray;
}

.empty_notif {
  text-align: center;
}

.notificacion_row:hover {
  background-color: #F6F5FA;
  cursor: pointer;
}

.notificacion_row td {
  padding: 0px 14px;
}

.notificacion_fecha {
  float: right;
}

.notificacion_mensaje {
  margin-bottom: 2px;
}

.no_leida {
  background-color: #EDF2FA;
}

.no_leida:hover {
  background-color: #E5EAF0;
}

.pop-over_footer {
  border-top: 1pt solid lightgray;
  text-align: center;
  margin-top: -1px; //para que se integre con el ultimo border-bottom de la tabla
  margin-bottom: 5px;
  color: #385A97;
}

.pop-over_footer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav_icon img{
  width: 25px;
  height: 25px;
  margin-top: 13px;
  margin-right: 15px;
  margin-left: 15px;
}

#logoPrepa:hover {
  cursor: pointer;
}