.labPad{
	width: 200px;
	
	
}

#centerDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-top: 2%;
}

.btnPeriodo{
	width: 98% !important;
	margin-left: 1%;
	margin-bottom: .1%;
}