.labPad{
	width: 200px;
	
	
}

#centerDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-top: 2%;
}

.btnPeriodo{
	width: 98% !important;
	margin-left: 1%;
	margin-bottom: .1%;
}




input[type='checkbox'] {
 
  
  
   
  
}

.periodo_header {
	font-size: 16px;
	margin-right: 5px;
}

.table_head_custom {
	color: white;
	background-color: #4585d4;
	border-bottom: none;
}