


@media print {
  #divText {
    display:inline-block !important; 
    border: solid 1px #000;
    height: auto !important;
    width: 100%;
    overflow: hidden;
  }

  nav, aside, footer {
    display: none;
  }

  body * {
    visibility: hidden;
  }

  #printID * {
    visibility: visible;
    position: relative; 
    
  }

  #noPrint{
    visibility: hidden !important;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }
  blockquote, ul {
  margin: 0;
  }
  ul {list-style: none}

  header .print {
  display: block;
  }

  .printPad{
    padding-bottom: 39px;
  }

  .boldPrint{
    font-weight: bold;
  }

  
  #fechaPrint{
    margin-left: -77px;
  }

}

