.btnSubmit {
	width: 100%;
	margin-top: 50px;
	color: white;
}

.btnBack {
	width: 100%; 
	margin-top: 10px;
	color: white;
}

.txtArea {
	height: 150px;
	width: 100%;
	resize: none;
}

.texto_negativo {
	color: red;
}

.texto_amarillo {
	color: #F9BF3B;
}

.texto_positivo {
	color: green;
}

.titulo {
	font-size: 30px;
}

.select-label > h4{
	margin: 0px 10px 0px 0px;
	float: left;
}

.select-input {
	float: left;
	margin: auto;
}

.empty_desemp, .empty_semana {
	text-align: center;
	color: gray;
	margin-top: 200px;
}