.btnSubmit {
	width: 100%; 
	margin-top: 50px;
	color: white;
}

.btnBack {
	width: 100%; 
	margin-top: 10px;
	color: white;
}

#btnChico{
	width: 100%;
	font-size: 100%;
	text-align: center;
}

.txtArea {	
	height: 150px;
	width: 100%;
	resize: none;
}

.texto_negativo {
	color: red;
}

.texto_amarillo {
	color: #F9BF3B;
}

.texto_positivo {
	color: green;
}

.no_reportes {
	color: gray;
}

.titulo {
	font-size: 30px;
}

.select-label > h4{
	margin: 0px 10px 0px 0px;
	float: left;
}

.select-input {
	float: left;
	margin: auto;
}

.info_alumno {
	font-size: 15px;
	margin-left: 4px;
	margin-top: 20px;
}

.tutor_reportes_header {
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}