.btnSubmit {
	width: 100%; 
	margin-top: 50px;
	color: white;
}

.btnBack {
	width: 100%; 
	margin-top: 10px;
	color: white;
}

#btnChico{
	width: 100%;
	font-size: 100%;
	text-align: center;
}

.btn_circular {
	background-color: #337ab7;
	border-color: #2e6da4;
	line-height: 50px;	
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 40px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	position: fixed;
	bottom: 20px;
	right: 20px
}

.btn_circular:hover{
	background-color: #286090;
	border-color: #204d74;
	color: white;
}

.txtArea {	
	height: 150px;
	width: 100%;
	resize: none;
}

.texto_negativo {
	color: red;
}

.texto_amarillo {
	color: #F9BF3B;
}

.texto_positivo {
	color: green;
}

.no_reportes {
	color: gray;
}

.titulo {
	font-size: 30px;
}

.select-label > h4{
	margin: 0px 10px 0px 0px;
	float: left;
}

.select-input {
	float: left;
	margin: auto;
}

.small_search_bar {
	width: 200px !important;
}

.filtro {
	float: left !important;
	margin-right: 20px;
	margin-bottom: 30px;
}

.filtro input[type="checkbox"] {
	margin-left: 3px;
}

.filtro_lbl {
	margin-left: 5px;
}