// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#singleUser{
	text-align: center;
	padding-top: 5.2%;
	border-right: solid 1px black;
	
	height: 159px;
	font-size: 150%;
	
}

#multipleUser{
	text-align: center;



}

.padd{
	margin-left: 20px !important;
	
	margin-bottom: 20px !important;
}

.inline{
	display: inline !important;
	margin-top: 10px;
}